<div class="main-content summoners">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-3">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a [routerLink]="['user-profile']">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">{{user.role}}</h6>
                      <h4 class="card-title">{{user.name}}</h4>
                      <p class="card-description">
                        A&ntilde;ade tus cuentas de invocador a la lista de tracking. De esta manera podras obtener un historico de partidas y aplicarles un analisis estadistico.
                      </p>
                  </div>
                  <div class="card-footer">
                    <a [routerLink]="['/user-profile']" class="btn btn-danger btn-round">Edit</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a [routerLink]="['user-profile']">
                        <img class="img" src="https://ddragon.leagueoflegends.com/cdn/10.14.1/img/profileicon/1.png" />
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-description" style="padding-top: 20px;">
                        A&ntilde;ade un nuevo invocador a la lista de tracking. Recuerda que no puedes a a&ntilde;adir cuentas que no te pertenezcan ya que rito se enfada.
                    </p>
                </div>
                <div class="card-footer">
                  <a [routerLink]="['/user-profile']" class="btn btn-danger btn-round">Nuevo Summoner</a>
                </div>
            </div>
          </div>
          <div *ngFor="let sum of summoners" class="col-md-3">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a [routerLink]="['user-profile']">
                        <img class="img" src="https://ddragon.leagueoflegends.com/cdn/10.14.1/img/profileicon/{{sum.profileIconId}}.png" />
                    </a>
                </div>
                <div class="card-body">
                    <h6 class="card-category text-gray">{{sum.region}}</h6>
                    <h4 class="card-title">{{sum.summonerName}}</h4>
                    <p class="card-description">
                      Invocardor registrado, pulsa actualizar para actualizar tu historico de partidas y poder anarlizarlo.
                    </p>
                    <div>
                      <a (click)="setMain(sum)"><mat-slide-toggle  [(ngModel)]="sum.main"></mat-slide-toggle></a> <span class="sumMain">   Main</span>
                      <a (click)="deleteSummoner(sum.id, sum.summonerName)">
                        <span class="material-icons">
                          delete_forever
                        </span>
                        Eliminar invocador
                      </a>
                    </div>

                </div>
                <div class="card-footer">
                  <a (click)="setLastMatch(sum)" class="btn btn-danger btn-round">Actualizar</a>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>
