<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a [routerLink]="['/statics/:follow']">
                        S&iacute;guenos!
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/statics/:about']">
                        Sobre el proyecto
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/statics/:rules']">
                        Reglas del sitio
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/statics/:privacy']">
                        Privacidad
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, hecho con amor por
            <a href="https://www.github.com/drg809" target="_blank">Daniel</a> con el objetivo de mejorar tu juego en TFT.
        </div>
    </div>
</footer>
