<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        S&iacute;guenos!
                    </a>
                </li>
                <li>
                    <a href="https://creative-tim.com/about-us">
                        Sobre el proyecto
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        Reglas del sitio
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        Privacidad
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.github.com/drg809" target="_blank">Daniel</a> for a better TFT play.
        </div>
    </div>
</footer>
