<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Editar perfil</h4>
                      <p class="card-category">Completa o edita tu perfil</p>
                  </div>
                  <div class="card-body">
                      <form #f="ngForm" (ngSubmit)="f.form.valid && onSaveProfile()">
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Nombre" type="text"  [(ngModel)]="name" name="name">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Apellidos" type="text"  [(ngModel)]="lastname" name="lastname">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Telefono" type="text"  [(ngModel)]="phone" name="phone">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Pais" type="text"  [(ngModel)]="country" name="country">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <label>Sobre mi ..</label>
                                <mat-form-field class="example-full-width">
                                   <textarea matInput placeholder="Escribe algo sobre ti que te motive o motive a los dem&aacute;s jugadores."  [(ngModel)]="about" name="about"></textarea>
                                 </mat-form-field>
                                  <!-- <div class="form-group">

                                      <div class="form-group">
                                          <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                          <textarea class="form-control" rows="5"></textarea>
                                      </div>
                                  </div> -->
                              </div>
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-custom pull-right">Actualiza tu perfil</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a>
                      <div class="image-upload">
                        <img (click)="file.click()" [src]="imageSrc" style="max-width:300px;max-height:300px"/>
                        <input #file name="imageUrl" type="file" accept="image/*" (change)="handleInputChange($event)" />
                      </div>
                    </a>
                </div>
                <div class="card-body">
                    <h6 class="card-category text-gray">{{user.role}}</h6>
                    <h4 class="card-title">{{user.name}}</h4>

                    <p class="card-description">
                      {{about}}
                    </p>
                    <a [routerLink]="['/user-profile']" class="btn btn-custom btn-round">Ap&oacute;yanos</a>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>
