$platinum: #AD1457;
$gold: #bd9a38;
$silver: #7c8f92;
$bronze: #A0715E;
$fourth: #284454;

.card {
  .card-header-gold .card-icon {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
    background: linear-gradient(60deg, #ffa726, #fb8c00);
  }
  .card-header-silver .card-icon {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
    background: linear-gradient(60deg,$silver, #657274);
  }
  .card-header-bronze .card-icon {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
    background: linear-gradient(60deg,$bronze, #805949);
  }
  .card-header-fourth .card-icon {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
    background: linear-gradient(60deg,$fourth, #1c313c);
  }
  .card-icon{
    font-size: 2em;
    font-weight: 900;
    font-family: revert;
  }
}

.card [class*=card-header-] .ct-chart .ct-series-a .ct-bar {
  stroke-width: 25px !important;
}

.card [class*=card-header-] .ct-chart .ct-grid {
  stroke: rgb(255 255 255);
}
.ct-chart .ct-label.ct-vertical.ct-start {
  font-size: 10px !important;
}
.ct-chart .ct-series-b .ct-bar{
  stroke: #284454;
}

.dashboard {
  .tableChamps,
  .tableGalaxies {
    width: 30px;
    margin-right: 10px;
  }
  .tableTraits {
    width: 30px;
    margin-right: 10px;
    background: black;
  }
  .tableTraits:after, .tableTraits:before {
    content: "";
    position: absolute;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  .tableTraits:after {
    top: 100%;
    border-bottom: 5.77px solid #383838;
  }
  .tableTraits:before {
    bottom: 100%;
    border-bottom: 5.77px solid #383838;
  }
}
