<div class="main-content dashboard">
  <div class="container-fluid">
      <div class="hideDashboard" *ngIf="!positions?.top1">
        Cuenta main no sincronizada. Sincroniza tu cuenta pulsando "actualizar" sobre tu cuenta de invocador <a [routerLink]="['/profile']">aqu&iacute;</a>.
      </div>
      <div class="row" *ngIf="positions?.top1">
          <div class="col-lg-2 col-md-4 col-sm-4">
              <div class="card card-stats">
                  <div class="card-header card-header-gold card-header-icon">
                      <div class="card-icon">
                        1º
                      </div>
                      <p class="card-category">Ganadas</p>
                      <h3 class="card-title">{{positions?.top1}}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <span>{{(positions?.top1 / positions?.total) * 100 | number:'1.0-2'}}%</span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4">
              <div class="card card-stats">
                  <div class="card-header card-header-silver card-header-icon">
                      <div class="card-icon">
                        2º
                      </div>
                      <p class="card-category">2º puesto</p>
                      <h3 class="card-title">{{positions?.top2}}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <span>{{(positions?.top2 / positions?.total) * 100 | number:'1.0-2' }}%</span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4">
              <div class="card card-stats">
                  <div class="card-header card-header-bronze card-header-icon">
                      <div class="card-icon">
                        3º
                      </div>
                      <p class="card-category">3o puesto</p>
                      <h3 class="card-title">{{positions?.top3}}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <span>{{(positions?.top3 / positions?.total) * 100 | number:'1.0-2' }}%</span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4">
              <div class="card card-stats">
                  <div class="card-header card-header-fourth card-header-icon">
                      <div class="card-icon">
                        4º
                      </div>
                      <p class="card-category">4º puesto</p>
                      <h3 class="card-title">{{positions?.top4}}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <span>{{(positions?.top4 / positions?.total) * 100 | number:'1.0-2' }}%</span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <span class="material-icons">mood_bad</span>
                      </div>
                      <p class="card-category">Perdidas</p>
                      <h3 class="card-title">{{(positions?.top5 + positions?.top6 + positions?.top7 + positions?.top8)}}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <span>{{((positions?.top5 + positions?.top6 + positions?.top7 + positions?.top8) / positions?.total) * 100 | number:'1.0-2' }}%</span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <span class="material-icons">sports_esports</span>
                      </div>
                      <p class="card-category">Totales</p>
                      <h3 class="card-title">{{positions?.total}}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <span>Actualiza pulsando <a class="pointer" [routerLink]="['/profile']">aqui</a>.</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-custom">
                      <div class="ct-chart" id="positionsMatchesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Posiciones en todas las partidas</h4>
                      <p class="card-category">
                        El porcentaje de partidas con resultados mayor o igual a top 4 es  <span class="text-success"> <i class="fa fa-long-arrow-up"></i> {{((positions?.top1 + positions?.top2 + positions?.top3 + positions?.top4) / positions?.total) * 100 | number:'1.0-2' }}% </span> .
                      </p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">access_time</i> updated 4 minutes ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-custom">
                      <div class="ct-chart" id="galaxiesMatchesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Galaxias Top 4</h4>
                      <p class="card-category">
                        Notese en gris el Top 4 por galaxias y en blanco el total de partidas.
                      </p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">access_time</i> updated 4 minutes ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-custom">
                      <div class="ct-chart" id="champsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Campeones m&aacute;s jugados</h4>
                      <p class="card-category">Notese el numero de veces que se jug&oacute; en gris el Top 1 y en blanco el Top 4.</p>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons">access_time</i> updated 4 minutes ago
                    </div>
                  </div>
              </div>
          </div>
      </div>
      <div *ngIf="positions?.top1" class="row">
        <div class="col-md-6">
          <div class="card card-chart">
              <div class="card-header card-header-custom">
                  <div class="ct-chart">Winrate por galaxias</div>
              </div>
              <div class="card-body">
                <table class="table">
                  <thead>
                    <th>Galaxia</th>
                    <th>Top1</th>
                    <th>Top4</th>
                    <th>Win%</th>
                    <th>Top%</th>
                    <th>Totales</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let g of counts.perGalaxie.top">
                        <td>
                          <img *ngIf="g.key != 'TFT3_GameVariation_None'" class="tableGalaxies" src="../../../../assets/img/galaxies/{{g.key}}.png">{{g.key | TransformNamePipe:1}}
                        </td>
                        <td>
                          {{counts.perGalaxie.top1[g.key] || 0}}
                        </td>
                        <td>
                          {{g.value || 0}}
                        </td>
                        <td>
                          {{(counts.perGalaxie.top1[g.key] / counts.total[g.key]) * 100 || 0 | number:'1.0-2'}}%
                        </td>
                        <td>
                          {{(g.value / counts.total[g.key]) * 100 || 0 | number:'1.0-2'}}%
                        </td>
                        <td>
                          {{counts.total[g.key] || 0}}
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">access_time</i> updated 4 minutes ago
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-chart">
              <div class="card-header card-header-custom">
                  <div class="ct-chart">Winrate por sinergias</div>
              </div>
              <div class="card-body">
                <table class="table">
                  <thead>
                    <th colspan="4">Sinergia</th>
                    <th>Win%</th>
                    <th>Top%</th>
                    <th>Totales</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let g of counts.traits.top1">
                        <td>
                          {{ g.x | TransformNamePipe:3 }}
                        </td>
                        <td>
                          <div class="hex tier1" *ngIf="counts.traits.top4S1[g.x] > 0">
                            <img class="tableTraits" src="../../../../assets/img/traits/{{ g.x | lowercase }}.png">
                          </div>
                          {{ counts.traits.top4S1[g.x] }}
                        </td>
                        <td>
                          <div class="hex tier2" *ngIf="counts.traits.top4S2[g.x] > 0">
                            <img class="tableTraits" src="../../../../assets/img/traits/{{ g.x | lowercase }}.png">
                          </div>
                          {{ counts.traits.top4S2[g.x] }}
                        </td>
                        <td>
                          <div class="hex tier3" *ngIf="counts.traits.top4S3[g.x] > 0">
                            <img class="tableTraits" src="../../../../assets/img/traits/{{ g.x | lowercase }}.png">
                          </div>
                          {{ counts.traits.top4S3[g.x] }}
                        </td>
                        <td>
                          {{( g.y / counts.traits.totalC[g.x] ) * 100 || 0 | number:'1.0-2'}}%
                        </td>
                        <td>
                          {{( counts.traits.top4C[g.x] / counts.traits.totalC[g.x] ) * 100 || 0 | number:'1.0-2'}}%
                        </td>
                        <td>
                          {{ counts.traits.totalC[g.x] || 0 }}
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">access_time</i> updated 4 minutes ago
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-chart">
              <div class="card-header card-header-custom">
                  <div class="ct-chart">Winrate por campeones</div>
              </div>
              <div class="card-body">
                <table class="table">
                  <thead>
                    <th>Campe&oacute;n</th>
                    <th>Top1</th>
                    <th>Top4</th>
                    <th>Win%</th>
                    <th>Top%</th>
                    <th>Totales</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let g of counts.champs.top1">
                        <td>
                          <img class="tableChamps" src="../../../../assets/img/champions/{{g.x}}.png">{{ g.x | TransformNamePipe:2 }}
                        </td>
                        <td>
                          {{ g.y }}
                        </td>
                        <td>
                          {{ counts.champs.top4C[g.x] || 0 }}
                        </td>
                        <td>
                          {{( g.y / counts.champs.totalC[g.x] ) * 100 || 0 | number:'1.0-2'}}%
                        </td>
                        <td>
                          {{( counts.champs.top4C[g.x] / counts.champs.totalC[g.x] ) * 100 || 0 | number:'1.0-2'}}%
                        </td>
                        <td>
                          {{ counts.champs.totalC[g.x] || 0 }}
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">access_time</i> updated 4 minutes ago
                </div>
              </div>
          </div>
        </div>

      </div>
  </div>
</div>
