//Colors
$platinum: #AD1457;
$gold: #bd9a38;
$silver: #7c8f92;
$bronze: #A0715E;
$fourth: #284454;

.search-sum {
  .card{
    &.card-stats{
      .card-body {
        text-align: left;
        a.btn{
          color: white;
        }
      }
    }
  }
  .table {
    color: white;
    th {
      border-bottom: 1px solid rgba(245, 240, 240, 0.52);
    }
    td {
      border-top: 1px solid rgba(245, 240, 240, .52);
      border-bottom: 1px solid rgba(245, 240, 240, 0.52);
    }
    tr:last-child td {
      border-bottom: none;
    }
  }
  .form-control {
    color: white !important;
  }
}
