.login.main-div{
    background-color: rgba(160, 71, 64, 0.4);
    height: 100vh;
    width: 100vw;
    .login-box{
      padding-top: 10vh;
      .margin-left {
        margin-left: calc(50% - 250px);
        max-width: 500px;

      }
      .form-container {
        background-color: white;
        text-align: center;
        padding: 40px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: 1px 3px 2px grey;
      }
      .div-logo {
        margin-left: calc(50% - 250px);
        max-width: 500px;
        background-color: #49c0fb;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 1px 3px 2px grey;
        img.margin-left {
          margin-left: calc(50% - 150px);
          max-width: 300px;
        }
      }
    }
}
